.underlineAnimation {
    font-size: 50px;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    color: #000;
}

.underlineAnimation::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    border-radius: 9999px;
}

.underlineAnimation:hover::after {
    transform: scaleX(1);
}