.underlineAnimation {
    font-size: 50px;
    background: #000;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    color: #000;
}

.underlineAnimation::after {
    display: block;
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    border-radius: 9999px;
    content: "";
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
}