.underlineAnimation {
    font-size: 50px;
    background: #000;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    color: #000;
}

.underlineAnimation::after {
    display: block;
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    border-radius: 9999px;
    content: "";
    after: scale-0 after: ease-in-out after: duration-300 hover: after: scale-100;
}