.underlineAnimation {
    font-size: 50px;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    color: #000;
}

.underlineAnimation::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #000;
    border-radius: 9999px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-in-out;
}

.underlineAnimation:hover::after {
    transform: scaleX(1);
}